:root {
    --base-color: #B92653;
    --base-color-hover: #e14373;
    --base-color-active: #89183a;
    --transition-duration: .3s;

    --gray-color: #d1d1d1;
    --header-height: 80px;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: var(--header-height);
}

/* Миксины */
.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.btn-reset {
    border: none;
    outline: none;
    border-color: none;
    padding: 0;
    border-radius: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.blocks {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Titles */
.subtitle {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 45px;
}

.subtitle_line {
    position: relative;
    text-align: center;
}

.subtitle_line::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--base-color);
    width: 80px;
    height: 2px;
    left: calc(50% - 40px);
    bottom: -15px;
}

.title-h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
}

/* Текст */
.desc {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
}

/* Ссылки */
.link-base {
    transition: color var(--transition-duration);
}

.link-base:hover {
    color: var(--base-color);
}

.link-base:focus {
    color: var(--base-color-active);
}


/* Базовая кнопка */
.btn-base {
    padding: 6px 32px;
    color: white;
    border-radius: 14px;
    border: 1px solid var(--base-color);
    background-color: var(--base-color);
    transition: background-color var(--transition-duration), border-color var(--transition-duration);
    cursor: pointer;
}

.btn-base:hover {
    background-color: var(--base-color-hover);
    border-color: var(--base-color-hover);
}

.btn-base:active {
    background-color: var(--base-color-active);
    border-color: var(--base-color-active);
}

.btn-base:focus {
    outline: var(--base-color) 1px solid;
    outline-offset: 3px;
}

/* Gray button */
.btn-gray {
    padding: 6px 32px;
    color: black;
    border: 1px solid var(--gray-color);
    border-radius: 14px;
    transition: background-color var(--transition-duration), border-color var(--transition-duration), color var(--transition-duration);
    cursor: pointer;
}

.btn-gray:hover {
    background-color: var(--base-color-hover);
    border-color: var(--base-color-hover);
    color: white;
}

.btn-gray:active {
    background-color: var(--base-color-active);
    border-color: var(--base-color-active);
    color: white;
}


.btn-gray:focus {
    outline: var(--base-color) 1px solid;
    outline-offset: 3px;
}

/* Лого */
.logo {
    display: block;
}

.logo__img {
    display: block;

}

/* Меню */
.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Инф.карта */
.info-card {
    display: flex;
    background-size: cover;
    background-position: center;
}

.info-card__content {
    padding: 35px;
    color: white;
    height: 100%;
    width: 100%;
}

.info-card__desc {
    margin-bottom: 0;
}

.info-card__content_color {
    background: linear-gradient(45deg, rgba(185, 38, 83, 0.9) 0%, rgba(185, 38, 83, 0.3) 100%);
}

.info-card__content_bw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    backdrop-filter: grayscale(100%) brightness(60%);
}

.info-card__content_bottom-color {
    align-self: flex-end;
    height: auto;
    background: linear-gradient(45deg, rgba(185, 38, 83, 0.9) 0%, rgba(185, 38, 83, 0.3) 100%);
}

/* Карточка услуги */


.service-card {
    position: relative;
    display: flex;
    border-color: white;
}

.service-card__img {
    display: block;
    width: 180px;
    object-fit: cover;
}

.service-card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    gap: 35px;
}

.service-card__desc {
    margin-bottom: 0;
}

.service-card__link:before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
}

.service-card__badge:after {
    position: absolute;
    display: block;
    content: attr(data-badge);
    color: white;
    font-size: 12px;
    left: 0;
    bottom: 0;
    max-width: 180px;
    padding: 8px 14px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* карточка со счетчиком */

.step-card {
    position: relative;
    padding: 25px;
    background-color: white;
}

.step-card_desc {
    margin-bottom: 0;
}

.step-card:after {
    position: absolute;
    display: block;
    content: "1";
    color: white;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    right: -25px;
    top: calc(50% - 25px)
}

.step-card:nth-child(2n):after {
    right: inherit;
    left: -25px;
}

/* .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
} */

/* карточка клиента */

.client-card {
    perspective: 500px;
}

.client-card__link {
    display: block;
    background-color: white;
    padding: 40px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
}

.client-card__link:hover {
    background-color: var(--base-color);
    transform: rotateY(-20deg);
}

.client-card:nth-child(2n) .client-card__link:hover {
    transform: rotateY(20deg);

}

.client-card__link:before {
    content: "";
    display: block;
    padding-top: 100%;

}

/* footer */

.header {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: var(--header-height);
    gap: 30px;

}

.header__logo {
    flex-shrink: 0;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-basis: 700px;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    flex-basis: 500px;
}

.header__menu {
    width: 100%;
    justify-content: space-between;
}

/* hero */

.hero {
    margin-bottom: 40px;
}

.hero_info-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - var(--header-height));
}

.info-card:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/3;
}


/* services */
.services {
    margin-bottom: 40px;
}

.services__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/* steps */
.steps {
    margin-bottom: 40px;
}
.steps-black {
    background-color: rgb(28, 28, 28);
}

.steps__list {
    display: flex;
    flex-direction: column;
    counter-reset: section;
}

.steps__list-item {
    width: 50%;
}

.steps__list-item:nth-child(2n) {
    align-self: flex-end;
}

.steps__list-item:after {
    counter-increment: section;
    content: counter(section);
}

/* clients */
.clients {
    margin-bottom: 40px;
}
.clients__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

/* footer */
.footer {
    background-color: rgb(28, 28, 28);
}
.container__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

@media(max-width: 1000px) {
    :root {
        --header-height: 60px
    }
}